{% extends "base.html" %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/chat.css') }}" />

    <div id="chat-widget">
        <div id="display-container">
            <ul id="chat-messages">
                {% for message in chat_messages %}
                    <li class="message-item message-item-{{ message.role }}">
                        <p>{{ message.content | safe }}</p>
                        <small id="message-time">{{ message.timestamp }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div id="input-container">
            <input type="text" id="message-input" placeholder="Enter your question">
            <button type="submit" id="send-btn" onclick="sendMessage()">Send</button>
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', path='js/chat.js') }}"></script>
{% endblock %}
